# *data/
.ipynb_checkpoints*
__pycache__*
~/.ipynb_checkpoints*
~/__pycache__*
*.gif
*.svg
*.png
*.jpg
*Plots/
fr_XAS/Feb2018\ Data\ Fits/
fr_XAS/July2018\ Data\ Fits/
fr_XAS/November\ 2019\ Test\ Data/
fr_XAS/June\ 2019\ Test\ Data